<form id="contact-form">
    <input type="hidden" name="fecha" value='{{date format="YYYY-MM-DD*hh:mm:ss"}}' />
    {{#is "en"}}
    <span>
        Please leave your <b>contact information</b> <br/>
        and we’ll get back to you<br />
         in less than 24 hrs.</span>
    {{else}}
    <span>
        <b>Déjanos tus datos</b> y <br/> nos comunicaremos contigo
        <br />
        en menos de 24 hrs.
    </span>
    {{/is}}
    <div class="contact flex-column-md">
        <div> <input name="nombre" class="element-start" type="text" placeholder={{#is "en" }}"NAME"{{else}}"NOMBRE"{{/is}} />
        </div>
        <div> {{>separator}}
        </div>
        <div> <input name="celular" class="element-middle" type="tel" placeholder={{#is "en" }}"PHONE"{{else}}"TELÉFONO"{{/is}} />
        </div>
        <div> {{>separator}}
        </div>
        <div> <input class="element-middle" name="correo" type="email" placeholder={{#is "en"}}"MAIL"{{else}}"CORREO"{{/is}} />
        </div>
        <div> {{>separator}}</div>
        <div> <input name="empresa" class="element-end" type="text" placeholder={{#is "en" }}"COMPANY"{{else}}"EMPRESA"{{/is}} />
        </div>
        <input  type="hidden" name="intereses" value="NA" />
    </div>
    {{#is "en"}}
    <input type="image" src="/assets/visuals/enviar-en.svg" name="submit" />
    {{else}}
    <input type="image" src="/assets/visuals/enviar.svg"    name="submit" />
    {{/is}}
</form>
