<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <img class="logo-image" src="/assets/visuals/logo.svg" alt="{{@site.title}}">
    {{/if}}
</a>