<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img loading="lazy" class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <img loading="lazy" class="logo-image" src="/assets/visuals/logo-aora-partial.svg" alt="{{@site.title}}">
        <img loading="lazy" class="logo-image" src="/assets/visuals/logo-agency-partial.svg" alt="{{@site.title}}">
    {{/if}}
</a>