{{!< default}} <section id="cotizar-section">
    <div>
        <img src='/assets/visuals/slogan{{#is "request-quote"}}-en{{/is}}.svg'>
    </div>
    <div>
        <h2>Déjanos tus datos.</h2>
        <form id="cotiza-form">
            <input type="hidden" name="fecha" value='{{date format="YYYY-MM-DD*hh:mm:ss"}}' />
            <div>
                <input name="nombre" type="text" placeholder='{{#is "cotizar"}}NOMBRE{{else}}NAME{{/is}}' />
            </div>
            <div>
                <input width="250px" name="celular" type="tel" placeholder={{#is "cotizar" }}"CELULAR / WHATSAPP"
                    {{else}}"CELL / WHATSAPP"{{/is}} required />
            </div>
            <div>
                <input name="correo" type="text" placeholder="EMAIL" required />
            </div>
            <div>
                <input name="empresa" type="text" placeholder={{#is "cotizar" }}"EMPRESA"{{else}}"COMPANY"{{/is}} />
            </div>
            <div>
                <br>
                <span style="color: white;">Me interesan los servicios de:</span>
            </div>
            <div>
                <input type="checkbox" /><label>{{#is "en"}}Branding{{else}}Branding{{/is}}</label>
            </div>
            <div>
                <input type="checkbox" /><label>{{#is "en"}}Marketing{{else}}Marketing{{/is}}</label>
            </div>
            <div>
                <input type="checkbox" /><label>{{#is "en"}}Web Design{{else}}Diseño Web{{/is}}</label>
            </div>
            <div><input type="checkbox" /><label>{{#is "en"}}Editorial Design{{else}}Diseño Editorial{{/is}}</label>
            </div>
            <div> <input type="checkbox" /><label>{{#is "en"}}Social Media{{else}}Redes Sociales{{/is}}</label>
            </div>
            <div>
            <input name="intereses" placeholder='{{#is "cotizar"}}¿Otros...? Cuéntanos aquí.{{else}}...Something else? tell us:{{/is}}' />
                </div>
            <div class="end">
        <div><button type="submit"><img src="/assets/visuals/enviar.svg" /> </button>
        </div>
            </div>
    </div>

    </form>
    </div>
    </section>
    <script>

        document.title = {{#is "cotizar" }} 'Cotizar proyecto'{{else}} 'Request a quote'{{/is}};
                document.documentElement.classList.add('dark-mode');
    </script>
    <style>
        nav{
            display: none;
        }
        footer {
            display: none !important;
        }
        .page-title {
            display: none;
        }
    </style>