
{{!< default}} <section id="home">
    {{^is "en"}}
        {{#get "pages" filter="slug:agencia"}}
            {{#foreach pages}}
                {{#page}}
                    <div id="slogan">
                        <a href="/">{{#if feature_image}}
                            {{>post-media}}
                            {{else}}
                            {{content}}{{/if}}</a>
                    </div>
                {{/page}}
            {{/foreach}}
        {{/get}}
    {{else}}
     {{#get "pages" filter="slug:agencia-en"}}
        {{#foreach pages}}
            {{#page}}
                    <div id="slogan">
                        <a href="/">{{#if feature_image}}
                            {{>post-media}}
                            {{else}}
                            {{content}}{{/if}}</a>
                    </div>
            {{/page}}
        {{/foreach}}
      {{/get}}
    {{/is}}
    {{> contact}}
    </section>

    <section id="somos" class="somos">{{>somos}}</section>
    <section id="clientes" class="clientes">
        {{>clientes}}
    </section>
    <section id="servicios" class="servicios">
        {{>servicios}}
    </section>