{{!< default}} <section id="home">
    {{#is "en"}}
    <picture>
        <source media="(min-width: 767px)" srcset="/assets/visuals/creamos-en.svg">
        <source media="(max-width: 767px)" srcset="/assets/visuals/creamos-md-en.svg">
        <img src="/assets/visuals/creamos-en.svg">
    </picture>
    {{else}}
    <picture>
        <source media="(min-width: 767px)" srcset="/assets/visuals/creamos.svg">
        <source media="(max-width: 767px)" srcset="/assets/visuals/creamos-md.svg">
        <img src="/assets/visuals/creamos.svg">
    </picture>
    {{/is}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {{> contact}}
    </section>
    <section id="philosophy">

    </section>
    <section id="work">
        <div class="somos">
            {{#is "en"}}
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/work-somos-text-md-en.svg">
                <img src="/assets/visuals/work-somos-text-en.svg" />
            </picture>
            {{else}}
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/work-somos-text-md.svg">
                <img src="/assets/visuals/work-somos-text.svg" />
            </picture>
            {{/is}}
        </div>
        <div class="clientes">
            {{#is "en"}}
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/ourwork-en-md.svg">
                <img src="/assets/visuals/ourwork-en.svg">
            </picture>
            {{>separator-title}}
            <p>
                Our creative team translates ideas into tangible results with high standards of value and quality in
                design.
                <br>
                Each project is a new opportunity to create timeless, relevant, and functional solutions.
            </p>
            {{else}}
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/ourwork-md.svg">
                <img src="/assets/visuals/ourwork.svg">
            </picture>
            {{>separator-title}}
            <p>
                Nuestro equipo creativo traduce ideas a resultados tangibles con altos estándares de valor y calidad
                <br>
                en diseño. Cada proyecto es una nueva oportunidad de crear soluciones atemporales, relevantes, y
                funcionales.
            </p>
            {{/is}}
            {{>clientes}}
        </div>

        <div class="servicios">
            {{#is "en"}}
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/work-servicios-md-en.svg">
                <img src="/assets/visuals/work-servicios-en.svg">
            </picture>

            {{else}}
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/work-servicios-md.svg">
                <img src="/assets/visuals/work-servicios.svg">
            </picture>
            {{/is}}
            <div class="table flex-column-md">
                <div class="column ">
                    <span class="header">{{#is "en"}}Branding{{else}}Branding{{/is}}</span>
                    <span class="field">{{#is "en"}}Naming{{else}}Creación de Nombre{{/is}}</span>
                    <span class="field">{{#is "en"}}Logotype Design{{else}}Diseño de Logotipo{{/is}}</span>
                    <span class="field">{{#is "en"}}Visual Identity{{else}}Identidad Visual{{/is}}</span>
                    <span class="field">{{#is "en"}}Brand applications{{else}}Aplicaciones de Marca{{/is}}</span>
                </div>
                <div class="column ">
                    <span class="header">{{#is "en"}}Marketing{{else}}Digital{{/is}}</span>
                    <span class="field">{{#is "en"}}Web Design{{else}}Paginas web{{/is}}</span>
                    <span class="field">{{#is "en"}}Social Media{{else}}Redes Sociales{{/is}}</span>
                    <span class="field">{{#is "en"}}Google Ads{{else}}Google Ads{{/is}}</span>
                </div>
                <div class="column ">
                    <span class="header">{{#is "en"}}Marketing{{else}}Marketing{{/is}}</span>
                    <span class="field">{{#is "en"}}Communication Strategies{{else}}Estrategias de
                        Comunicación{{/is}}</span>
                    <span class="field">{{#is "en"}}Advertising Campaigns{{else}}Campañas de Publicidad{{/is}}</span>
                </div>

                <div class="column ">
                    <span class="header">{{#is "en"}}Editorial{{else}}Editorial{{/is}}</span>
                    <span class="field">{{#is "en"}}Brochures{{else}}Brochures{{/is}}</span>
                    <span class="field">{{#is "en"}}Posters{{else}}Posters{{/is}}</span>
                    <span class="field">{{#is "en"}}Magazines{{else}}Revistas{{/is}}</span>
                    <span class="field">{{#is "en"}}Books{{else}}Libros{{/is}}</span>

                </div>
            </div>
        </div>
    </section>