
{{!< default}} <section id="home">
    {{^is "post"}}
        {{^is "en"}}
    {{#get "pages" filter="slug:agencia"}}
    {{#foreach pages}}
    {{#page}}
    <div id="slogan">
        <a href="/">{{#if feature_image}}
            {{>post-media}}
            {{else}}
            {{content}}{{/if}}</a>
    </div>
    {{/page}}
    {{/foreach}}
    {{/get}}
    {{else}}
     {{#get "pages" filter="slug:agencia-en"}}
    {{#foreach pages}}
    {{#page}}
    <div id="slogan">
        <a href="/">{{#if feature_image}}
            {{>post-media}}
            {{else}}
            {{content}}{{/if}}</a>
    </div>
    {{/page}}
    {{/foreach}}
    {{/get}}
    {{/is}}
    {{else}}
    {{{block "slogan"}}}
    {{/is}}
    {{> contact}}
    </section>

    <section id="somos" class="somos">{{>somos}}</section>
    <section id="clientes" class="clientes">
        {{>clientes}}
    </section>
    <section id="servicios" class="servicios">
        {{#is "en"}}
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/work-servicios-en-md.svg">
            <img loading="lazy" src="/assets/visuals/work-servicios-en.svg">
        </picture>

        {{else}}
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/work-servicios-md.svg">
            <img loading="lazy" src="/assets/visuals/work-servicios.svg">
        </picture>
        {{/is}}
        <br/>
        <br/>
        <br/>
        <div class="table flex-column-md">
            <div class="column ">
                <span class="header">{{#is "en"}}Branding{{else}}Branding{{/is}}</span>
                <span class="field">{{#is "en"}}Naming{{else}}Creaci칩n de Nombre{{/is}}</span>
                <span class="field">{{#is "en"}}Logotype Design{{else}}Dise침o de Logotipo{{/is}}</span>
                <span class="field">{{#is "en"}}Visual Identity{{else}}Identidad Visual{{/is}}</span>
                <span class="field">{{#is "en"}}Brand applications{{else}}Aplicaciones de Marca{{/is}}</span>
            </div>
            <div class="column ">
                <span class="header">{{#is "en"}}Marketing{{else}}Digital{{/is}}</span>
                <span class="field">{{#is "en"}}Web Design{{else}}Paginas web{{/is}}</span>
                <span class="field">{{#is "en"}}Social Media{{else}}Redes Sociales{{/is}}</span>
                <span class="field">{{#is "en"}}Google Ads{{else}}Google Ads{{/is}}</span>
            </div>
            <div class="column ">
                <span class="header">{{#is "en"}}Marketing{{else}}Marketing{{/is}}</span>
                <span class="field">{{#is "en"}}Communication Strategies{{else}}Estrategias de
                    Comunicaci칩n{{/is}}</span>
                <span class="field">{{#is "en"}}Advertising Campaigns{{else}}Campa침as de Publicidad{{/is}}</span>
            </div>

            <div class="column ">
                <span class="header">{{#is "en"}}Editorial{{else}}Editorial{{/is}}</span>
                <span class="field">{{#is "en"}}Brochures{{else}}Brochures{{/is}}</span>
                <span class="field">{{#is "en"}}Posters{{else}}Posters{{/is}}</span>
                <span class="field">{{#is "en"}}Magazines{{else}}Revistas{{/is}}</span>
                <span class="field">{{#is "en"}}Books{{else}}Libros{{/is}}</span>

            </div>
        </div>
    </section>